/* body {
  background-color: #fff;
} */

.main-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.rectangle {
  position: relative;
  flex: 1;
  height: 400px;
  overflow: hidden;
}

.rectangle.imageHeader {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 5px;
}

.rectangle.imageHeader img{
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #a22221;
}

.centeredText h3 {
  margin: 0;
  font-size: 55px;
  font-weight: bold;
}

.centeredText p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 0.5rem;
  font-size: 20px;
  text-align: justify;
  color: #000;
}

/* New: Reward (in index.php) */

.reward-name {
  font-size: 10px;
}

/* New: Rewards (in rewards.php) */

.reward-card {
  background: #fdd79b;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 500px;
  height: 250px;
  display: flex;
}

.imgplaceholder {
  background-color: white;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
}

.rewardscont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.rewardtext {
  font-size: 1.3rem;
}

.rewarddesctext {
  font-size: 0.9rem;
  font-style: italic;
}

.rewardtextcont {
  margin-left: 15px;
}

.availbtn {
  margin-top: 15px;
  padding: 3px 5px;
}