.loginpage {
    width: 100%;
    margin: 0;
    display: flex;
}

.loginbody {
    margin: 0;
}

.loginimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainlog {
    text-align: center;
    width: 50%;
}

.left-half {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}